/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/*----------------
    BUTTONS
-----------------*/
button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}


